{% extends 'base.html' %}
{% load static %}

{% block title %}
Info page
{% endblock%}

{% block content %}
{% if user.is_authenticated %}
<div class="container mt-5 mb-5">
  <div class="container container-post">
    <div>
      <img src="{% static 'projects/photo.jpg' %}" class="rounded mx-auto d-block" style="max-width: 10%;"
        alt="main photo">
    </div>
    <div class="text-center">
      <p class="text-body-secondary">zakharique</p>
    </div>
    <div class="text-center">
      <strong>Анастасия Захарик</strong>
      <br>
      <p>SMM-специалист</p>
    </div>
    <hr>
    <div class="text-center my-4">
      <strong>ОБО МНЕ</strong>
    </div>
    <div class="d-flex">
      <div class="mx-3">⚫</div>
      <div>
        <p>Опыт в SMM: 5 лет</p>
        <div>
          <p>Работала с разными нишами: туризм, недвижимость, медицина, бьюти, одежда, музыка</p>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="mx-3">⚫</div>
      <div>
        <p>Работала контент-менеджером в команде агентства интернет-маркетинга Convert Monster</p>
      </div>
    </div>
    <div class="d-flex">
      <div class="mx-3">⚫</div>
      <div>
        <p>Окончила курс «Факультет SMM» от Convert Monster</p>
      </div>
    </div>
    <div class="d-flex">
      <div class="mx-3">⚫</div>
      <div>
        <p>Высшее образование: Реклама и PR</p>
        <div>
          <p>Диплом: «Рекламные коммуникации в социальной сети Инстаграм»</p>
        </div>
      </div>
    </div>
    <hr>
    <div class="text-center my-4">
      <strong>УСЛУГИ</strong>
    </div>
    <div class="d-flex">
      <div class="mx-3">①</div>
      <div>
        <p>Консультация</p>
        <div>
          <p class="m-0">— Разовая встреча в ZOOM (2,5−3 часа)</p>
          <p class="m-0">— Аудит ваших соцсетей</p>
          <p class="m-0">— Создание майнд-карты со стратегией</p>
          <p class="m-0">— Решение вашего запроса</p>
          <p class="m-0">— Поддержка в чате 7-ми дней после консультации</p>
        </div>
      </div>
    </div>
    <br>
    <div class="d-flex">
      <div class="mx-3">②</div>
      <div>
        <p>Менторство</p>
        <div>
          <p class="m-0">— Личная работа с вашим проектом</p>
          <p class="m-0">— 4 встречи-консультации в месяц</p>
          <p class="m-0">— Постоянная поддержка в чате (в рабочее время)</p>
          <p class="m-0">— Можно записаться только после консультации (см. пункт 1)</p>
        </div>
      </div>
    </div>
    <br>
    <div class="d-flex">
      <div class="mx-3">③</div>
      <div>
        <p>Полное ведение соцсетей</p>
        <div>
          <p class="m-0">— Индивидуальная работа с вашим проектом</p>
          <p class="m-0">— 4 встречи-консультации в месяц</p>
          <p class="m-0">— Постоянная поддержка в чате (в рабочее время)</p>
          <p class="m-0">— Помощь в создании контента (тексты, монтаж видео, дизайн-макеты, оформление ленты и т.д.)</p>
          <p class="m-0">— Можно записаться только после консультации (см. пункт 1)</p>
        </div>
      </div>
    </div>
    <hr>
    <div class="text-center my-4">
      <strong>СВЯЖИТЕСЬ СО МНОЙ</strong>
    </div>
    <div class="d-grid gap-2">
      <a class="btn btn-secondary btn-lg" rel="noopener" href="https://t.me/zakharique">Telegram</a>
      <a class="btn btn-secondary btn-lg" rel="noopener" href="https://www.instagram.com/zakharique/">Instagram</a></button>
    </div>
  </div>
</div>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'accounts:login' %}">Log In</a>
{% endif %}
{% endblock %}
