{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ month_name }} {{ current_year }}
{% endblock %}

{% block content %}

<div class="container mt-3 mb-5">
  <div class="text-center">
    <a class="btn btn-outline-secondary btn-sm"
      href="{% url 'projects:month-calendar-change' prev_date.year prev_date.month %}">
      Prev
    </a>
    <a class="btn btn-outline-secondary btn-sm"
      href="{% url 'projects:month-calendar-change' next_date.year next_date.month %}">
      Next
    </a>
    <a class="btn btn-secondary btn-sm" href="{% url 'projects:month-calendar' %}">
      Today
    </a>
    <a class="btn btn-outline-secondary btn-sm" href="{% url 'projects:week-calendar' %}">
      Week
    </a>
    <div class="text-center">
      <h1>{{ month_name }} {{ current_year }}</h1>
    </div>
  </div>
  <div class="container shadow mb-5 bg-body rounded">
    <div class="row grid-month">
      <div class="weekday">Monday</div>
      <div class="weekday">Tuesday</div>
      <div class="weekday">Wednesday</div>
      <div class="weekday">Thursday</div>
      <div class="weekday">Friday</div>
      <div class="weekday">Saturday</div>
      <div class="weekday">Sunday</div>

      {% for date in month_dates %}
      <div data-date="{{date}}" class="col-sm cell {% if date == today %}cell-today{% endif %}">
        <div class="d-flex justify-content-between day">
          <div>
            <a href="{% url 'projects:create-idea' %}?date={{ date.year }}-{{date.month}}-{{date.day}}&next={{ request.path|urlencode }}"
              class="add">&#10010;</a>
          </div>
          <div>
            <span>{{date.day}}</span>
          </div>
        </div>
        {% for post in posts %}
        {% if post.publish_date == date %}
        <div class="post" data-event-id="{{post.pk}}" data-original-date="{{post.publish_date}}">
          <div class="d-flex post-time">
            <div class="post-desc me-auto">
              {{ post.theme }}
            </div>
            <div class="post-desc mx-1">
              <a href="{% url 'projects:update-post' post.pk %}?next={{ request.path|urlencode }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                  class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                  <path fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                </svg>
              </a>
            </div>
            <div class="post-desc">
              <span class="{% if post.is_done.id == 1 %}dot-done{% else %}dot{% endif %}"></span>
            </div>
          </div>
          <div class="d-flex post-time">
            <div class="me-auto">
              {{ post.format }}
            </div>
            <div class="project">
              <span class="project-text">{{ post.project }}</span>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
