{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ month_name }} {{ current_year }}
{% endblock %}

{% block content %}
<div class="container mt-3 mb-5">
  <div class="text-center">
    <a class="btn btn-outline-secondary btn-sm"
      href="{% url 'projects:month-calendar-change' prev_date.year prev_date.month %}">
      Prev
    </a>
    <a class="btn btn-outline-secondary btn-sm"
      href="{% url 'projects:month-calendar-change' next_date.year next_date.month %}">
      Next
    </a>
    <a class="btn btn-secondary btn-sm" href="{% url 'projects:month-calendar' %}">
      Today
    </a>
    <div class="text-center">
      <h1>{{ month_name }} {{ current_year }}</h1>
    </div>
  </div>
  <div class="container shadow mb-5 bg-body rounded">
    <div class="row grid">
      <div class="weekday">Monday</div>
      <div class="weekday">Tuesday</div>
      <div class="weekday">Wednesday</div>
      <div class="weekday">Thursday</div>
      <div class="weekday">Friday</div>
      <div class="weekday">Saturday</div>
      <div class="weekday">Sunday</div>

      {% for date in month_dates %}
      <div class="col-sm {% if date == today %}cell-today{% else %}cell{% endif %}">
        <div class="d-flex justify-content-between day">
          <div>
            <a href="{% url 'projects:create-idea' %}" class="add">&#10010;</a>
          </div>
          <div>
            <span>{{date.day}}</span>
          </div>
        </div>
        {% for post in posts %}
        {% if request.user == post.author %}
        {% if post.publish_date == date %}
        <a href="{% url 'projects:update-post' post.pk %}">
          <div class="post">
            <div class="post-time">
              <div class="post-desc">
                {{ post.theme }}
              </div>
              <div class="post-desc">
                <span class="{% if post.is_done.id == 1 %}dot-done{% else %}dot{% endif %}"></span>
              </div>
            </div>
            <div class="post-time">
              <div>
                {{ post.format }}
              </div>
              <div class="project">
                <span class="project-text">{{ post.project }}</span>
              </div>
            </div>
          </div>
        </a>
        {% endif %}
        {% endif %}
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
