{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ month_name }} {{ current_year }}
{% endblock %}

{% block content %}
<div class="container mt-3 mb-5">
  <div class="text-center">
    <a class="btn btn-outline-secondary btn-sm"
      href="{% url 'projects:month-calendar-change' prev_date.year prev_date.month %}">
      Prev
    </a>
    <a class="btn btn-outline-secondary btn-sm"
      href="{% url 'projects:month-calendar-change' next_date.year next_date.month %}">
      Next
    </a>
    <a class="btn btn-secondary btn-sm" href="{% url 'projects:week-calendar' %}">
      Today
    </a>
    <a class="btn btn-outline-secondary btn-sm"
      href="{% url 'projects:month-calendar' %}">
      Month
    </a>
    <div class="text-center">
      <h1>{{ week_dates.0.day }}-{{ week_dates.6.day }} {{month_name}} {{ current_year }}</h1>
    </div>
  </div>
  <div class="container shadow mb-5 bg-body rounded">
    <div class="row grid-week">
      <div class="weekday">Дата</div>
      <div class="weekday">Проект</div>
      <div class="weekday">Площадка</div>
      <div class="weekday">Формат</div>
      <div class="weekday">Рубрика</div>
      <div class="weekday">Тип контента</div>
      <div class="weekday">Тема публикации</div>
      <div class="weekday">Готово</div>
      <div class="weekday">Edit</div>

      {% for date in week_dates %}
      <div class="col-sm {% if date == today %}cell-today{% else %}cell{% endif %}">
        <div class="date-cell">
          {{ date|date:'D'}}
          <br>
          {{ date.day }}
        </div>
      </div>

      <div class="col-sm cell-week">
        <hr>
        {% for post in posts %}
        {% if post.publish_date == date %}
        <div class="cell-model post-week">
          <div class="post-desc-week">
            {{ post.project }}
          </div>
        </div>
        <hr>
        {% endif%}
        {% endfor%}
      </div>

      <div class="col-sm cell-week">
        <hr>
        {% for post in posts %}
        {% if post.publish_date == date %}
        <div class="cell-model post-week">
          <div class="post-desc-week">
            {{ post.social_network }}
          </div>
        </div>
        <hr>
        {% endif%}
        {% endfor%}
      </div>

      <div class="col-sm cell-week">
        <hr>
        {% for post in posts %}
        {% if post.publish_date == date %}
        <div class="cell-model post-week">
          <div class="post-desc-week">
            {{ post.format }}
          </div>
        </div>
        <hr>
        {% endif%}
        {% endfor%}
      </div>

      <div class="col-sm cell-week">
        <hr>
        {% for post in posts %}
        {% if post.publish_date == date %}
        <div class="cell-model post-week">
          <div class="post-desc-week">
            {{ post.heading }}
          </div>
        </div>
        <hr>
        {% endif%}
        {% endfor%}
      </div>

      <div class="col-sm cell-week">
        <hr>
        {% for post in posts %}
        {% if post.publish_date == date %}
        <div class="cell-model post-week">
          <div class="post-desc-week">
            {{ post.content_type }}
          </div>
        </div>
        <hr>
        {% endif%}
        {% endfor%}
      </div>

      <div class="col-sm cell-week">
        <hr>
        {% for post in posts %}
        {% if post.publish_date == date %}
        <div class="cell-model post-week">
          <div class="post-desc-week">
            {{ post.theme }}
          </div>
        </div>
        <hr>
        {% endif%}
        {% endfor%}
      </div>

      <div class="col-sm cell-week">
        <hr>
        {% for post in posts %}
        {% if post.publish_date == date %}
        <div class="cell-model post-week">
          <div  class="post-desc-week ">
            <!-- {{ post.is_done }} -->
            {% if post.is_done.id == 1 %}
            <i class="done">&#10003;</i>
            {% else %}
            <i class="notdone">&#10007;</i>
            {% endif %}
          </div>
        </div>
        <hr>
        {% endif%}
        {% endfor%}
      </div>

      <div class="col-sm cell-week">
        <hr>
        {% for post in posts %}
        {% if post.publish_date == date %}
        <div class="cell-model post-week">
          <div  class="post-desc-week ">
            <a href="{% url 'projects:update-post' post.pk %}?next={{ request.path|urlencode }}"><i class="edit">&#9998;</i></a>
          </div>
        </div>
        <hr>
        {% endif%}
        {% endfor%}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
