@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  background-color: #efefef;
}

a {
  text-decoration: none;
}

.btn {
  border-radius: 0%;
}

.card-idea {
  background-color: #74b4a8;
}

.card-post {
  background-color: #e4c8c9;
}

.card-header {
  background-color: #efefef;
}

.container-post {
  width: 800px;
  max-width: 100%;
}

.required .control-label:after {
  content: "*";
  color: red;
}


/* --- CALENDAR STYLES ---- */

.cell {
  width: 100%;
  height: 100%;
  min-height: 180px;
  border: 0.5px solid black;
  /* max-height: 180px; */
  /* overflow: scroll; */
  /* overflow-y: scroll; */
  /* scrollbar-width: none; */
}

.grid {
  /* grid-column: 1 / -1; */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.weekday {
  background: #e4c8c9;
  border: 0.5px solid black;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  padding: 10px 6px;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.day {
  text-align: right;
  margin-bottom: 5px;
  /* background-color: red; */
  /* justify-content: left; */
  /* padding: 2px; */
  /* background: #333333; */
  /* color: #fff; */
  /* width: 25px; */
  /* border-radius: 50%; */
  /* flex: 0 0 auto; */
  /* align-self: flex-end; */
}


.event {
  flex: 0 0 auto;
  font-size: 13px;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 5px;
  line-height: 14px;
  background: #e4f2f2;
  border: 1px solid #b5dbdc;
  color: #009aaf;
  text-decoration: none;
}

.event:hover {
  font-size: 15px;
  background: #c0c1c1;
  border-color: black;
}

.event-desc {
  color: #666;
  margin: 3px 0 7px 0;
  text-decoration: none;
}

.add {
  color: #6c757d;
}

.add:hover {
  color: black;
}

/* PAGINATION STYLES */
/*
.page-link {
  color: #6c757d;
  border-color: #6c757d;
  background-color: #efefef;
}

.page-link:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
 */

.pagination > li > a
{
    background-color: #efefef;
    border-color: #6c757d;
    color: #6c757d;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.pagination > .active > a
{
    color: white;
    background-color: #6c757d;
    border: solid 1px #6c757d;
}

.pagination > .active > a:hover
{
    background-color: #6c757d;
    border: solid 1px #6c757d;
}






/* ---------------------- */

/* table, tr, td, th {
    border: 1px solid black;
} */

/* td {
    width: 100px;
    max-width: 100%;
    height: 100px;
    max-height: 100%;
    padding-left: 0.5rem;

} */

/* ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;} */

/* Month header */
/* .month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
} */

/* Month list */
/* .month ul {
  margin: 0;
  padding: 0;
/* } */

/* .month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
} */
*/
/* Previous button inside month header */
/* .month .prev {
  float: left;
  padding-top: 10px;
} */

/* Next button */
/* .month .next {
  float: right;
  padding-top: 10px;
} */

/* Weekdays (Mon-Sun) */
/* .weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
} */

/* .weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
} */

/* Days (1-31) */
/* .days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
} */
/*
.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
} */

/* Highlight the "current" day */
/* .days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
} */

/* ############################ */
/*
#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}

#calendar tr, #calendar tbody {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}

caption {
	text-align: center;
  grid-column: 1 / -1;
  font-size: 130%;
  font-weight: bold;
  padding: 10px 0;
}

#calendar td, #calendar th {
	padding: 5px;
	box-sizing:border-box;
	border: 1px solid #ccc;
}

#calendar .weekdays {
	background: #8e352e;
}

#calendar .weekdays th {
	text-align: center;
	text-transform: uppercase;
	line-height: 20px;
	border: none !important;
	padding: 10px 6px;
	color: #fff;
	font-size: 13px;
}

#calendar td {
	min-height: 180px;
  min-width: 180px;
  display: flex;
  flex-direction: column;
}

#calendar .days li:hover {
	background: #d3d3d3;
} */


/*
#calendar {
	width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
} */

/* #calendar tr, #calendar tbody {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
} */

/* caption {
	text-align: center;
  grid-column: 1 / -1;
  font-size: 130%;
  font-weight: bold;
  padding: 10px 0;
} */

/*
#calendar a {
	color: #8e352e;
	text-decoration: none;
} */

/* #calendar td, #calendar th {
	padding: 5px;
	box-sizing:border-box;
	border: 1px solid #ccc;
} */
/*
#calendar .weekdays {
	background: #e4c8c9;
} */

/*
#calendar .weekdays th {
	text-align: center;
	text-transform: uppercase;
	line-height: 20px;
	padding: 10px 6px;
	color: #fff;
	font-size: 13px;
  min-width: 180px;
  width: 180px;
	border: none !important;
} */

/* #calendar td {
  width: 100%;
  min-width: 180px;
  max-width: 180px;
  min-height: 180px;
  max-height: 180px;
  display: flex;
  flex-direction: column;
} */

/* #calendar .days li:hover {
	background: #d3d3d3;
}

#calendar .date {
	text-align: center;
	margin-bottom: 5px;
	padding: 2px;
	background: #333333;
	color: #fff;
	width: 25px;
	border-radius: 50%;
  flex: 0 0 auto;
  align-self: flex-end;
} */

/* #calendar .event {
  flex: 0 0 auto;
	font-size: 13px;
	border-radius: 4px;
	padding: 5px;
	margin-bottom: 5px;
	line-height: 14px;
	background: #e4f2f2;
	border: 1px solid #b5dbdc;
	color: #009aaf;
	text-decoration: none;
}

#calendar .event:hover {
  font-size: 15px;
} */

/* #calendar .event-desc {
	color: #666;
	margin: 3px 0 7px 0;
	text-decoration: none;
}

#calendar .other-month {
	background: #f5f5f5;
	color: #666;
} */


/*
{
@media(max-width: 768px) {

  #calendar .weekdays,
  #calendar .other-month {
    display: none;
  }

  #calendar li {
    height: auto !important;
    border: 1px solid #ededed;
    width: 100%;
    padding: 10px;
    margin-bottom: -1px;
  }

  #calendar,
  #calendar tr,
  #calendar tbody {
    grid-template-columns: 1fr;
  }

  #calendar tr {
    grid-column: 1 / 2;
  }

  #calendar .date {
    align-self: flex-start;
  }
} */
