@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap');

/* GLOBAL */

body {
  font-family: 'Raleway', sans-serif;
  background-color: #efefef;
}

a {
  text-decoration: none;
}

.btn {
  border-radius: 0%;
}

.container-ideas {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

/* LOGIN PAGE STYLES */

.btn-account {
  background-color: #6c757d;
}

.container-account {
  width: 500px;
  max-width: 100%;
}

.card-account {
  background-color: #ffffff;
}

#forgot-password {
  color: #6c757d;
}

/* CARDS STYLES */

.card-idea {
  background-color: #74b4a8;
}

.card-post {
  background-color: #e4c8c9;
}

.card-header {
  background-color: #efefef;
}

.container-post {
  width: 800px;
  max-width: 100%;
}

.required .control-label:after {
  content: "*";
  color: red;
}


/* --- CALENDAR STYLES ---- */

.cell {
  width: 100%;
  height: 100%;
  min-height: 180px;
  border: 0.5px solid black;
  /* max-height: 180px; */
  /* overflow: scroll; */
  /* overflow-y: scroll; */
  /* scrollbar-width: none; */
}

.cell-week {
  width: 100%;
  height: 100%;
  min-height: 180px;
  border: 0.5px solid black;
  padding: 0;
  /* max-height: 180px; */
  /* overflow: scroll; */
  /* overflow-y: scroll; */
  /* scrollbar-width: none; */
}

.cell-today {
  width: 100%;
  height: 100%;
  min-height: 180px;
  border: 0.5px solid black;
  background-color: #e4c8c9;
  /* max-height: 180px; */
  /* overflow: scroll; */
  /* overflow-y: scroll; */
  /* scrollbar-width: none; */
}

.grid {
  /* grid-column: 1 / -1; */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.cell-model {
  text-align: center;
}

.date-cell {
  display: flex;
  justify-content: center;
}

.weekday {
  background: #e4c8c9;
  border: 0.5px solid black;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  padding: 10px 6px;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.day {
  text-align: right;
  margin-bottom: 5px;
  /* background-color: red; */
  /* justify-content: left; */
  /* padding: 2px; */
  /* background: #333333; */
  /* color: #fff; */
  /* width: 25px; */
  /* border-radius: 50%; */
  /* flex: 0 0 auto; */
  /* align-self: flex-end; */
}


.post {
  flex: 0 0 auto;
  font-size: 13px;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 5px;
  line-height: 14px;
  background: #e4f2f2;
  border: 1px solid #b5dbdc;
  color: #009aaf;
  text-decoration: none;
}

.post-week {
  flex: 0 0 auto;
  font-size: 15px;
  padding: 15px;
  /* margin-bottom: 5px; */
  line-height: 14px;
  background: #e4f2f2;
  border: 1px solid #b5dbdc;
  color: #009aaf;
  text-decoration: none;
  max-height: 50px;
  overflow: hidden;
}

.post-week:hover {
  flex: 0 0 auto;
  font-size: 15px;
  padding: 15px;
  /* margin-bottom: 5px; */
  line-height: 14px;
  background: #e4f2f2;
  border: 1px solid #b5dbdc;
  color: #009aaf;
  text-decoration: none;
  max-height: 150px;
  overflow: hidden;
}

.post-done {
  flex: 0 0 auto;
  font-size: 13px;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 5px;
  line-height: 14px;
  background: #59df7b;
  border: 1px solid #b5dbdc;
  color: #009aaf;
  text-decoration: none;
}

.post:hover {
  font-size: 15px;
  /* background: #c0c1c1; */
  /* border-color: black; */
}

.post-desc {
  color: #666;
  margin: 3px 0 7px 0;
  text-decoration: none;
}

.post-desc-week {

  color: #666;
  margin: 3px 0 7px 0;
  text-decoration: none;
}

.add {
  color: #6c757d;
}

.add:hover {
  color: black;
}

.post-time {
  display: flex;
  justify-content: space-between;
}

.project {
  text-align: right;
  color: black;
  background-color: #E4C8C9;
  border-radius: 15%;
  box-shadow: #000000;
}

.project-text {
  padding: 5px;
  font-size: smaller;
}

.dot, .dot-done {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.dot {
  background-color: #e1952b;
}

.dot-done {
  background-color: rgb(64, 200, 57);
}

/* PAGINATION STYLES */

.pagination > li > a
{
    background-color: #efefef;
    border-color: #6c757d;
    color: #6c757d;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.pagination > .active > a
{
    color: white;
    background-color: #6c757d;
    border: solid 1px #6c757d;
}

.pagination > .active > a:hover
{
    background-color: #6c757d;
    border: solid 1px #6c757d;
}
